body {
    width: 100% !important;
}
.container {
    width: 375px !important;
    height: 1393px;
    margin: auto;
    padding: 35px 0 34px;
    background-color: #191f2c;
}
.header {
    width: 100%;
    height: 46px;
    margin: 0 0 31px;
    padding: 13px 241px 13px 30px;
}